<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>
  <main class="vh-100 container pt-2 text-center justify-content-center align-items-center">
    <section>
      <h1><%= title %></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora exercitationem ab necessitatibus itaque labore eos praesentium ratione laudantium, harum tempore nobis commodi aspernatur vitae sint eaque reprehenderit in et nulla maxime perferendis! Blanditiis modi iusto id laboriosam nemo distinctio beatae, officiis enim error, aperiam nihil labore maiores, deleniti ullam sint facilis saepe possimus quidem voluptatum laborum natus! Asperiores corrupti accusamus beatae alias expedita accusantium impedit sit rem aliquam, laudantium error, praesentium quisquam. Ea sapiente veniam reiciendis iste adipisci mollitia repellat vitae amet voluptatem magnam illum accusantium, architecto consequuntur nihil. Laudantium quidem iste quibusdam delectus non vitae aliquid soluta in laborum iure. Reiciendis quos, voluptas quo aliquid dignissimos repellat minus in dolorum, beatae laboriosam autem ipsum vitae dolor optio ut hic perspiciatis. Qui quo ea cumque expedita officiis fuga a ullam natus facilis commodi amet nulla, quia placeat nostrum quae autem sunt corporis dolorum excepturi beatae accusamus? Ipsum vitae quisquam optio illum accusantium, perferendis vero incidunt assumenda doloribus ea, nostrum quibusdam. Vitae sequi, nesciunt reprehenderit optio nulla nisi! Eaque, totam. Culpa consectetur quod eos odit exercitationem? Minima nemo in dignissimos numquam esse suscipit tempora nihil nostrum adipisci, doloremque sint quidem corrupti possimus odio quas alias excepturi harum. Officiis minus fuga tempora!</p>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>